{% extends "crm/cap.html" %}

{% block title %}Головна | CRM{% endblock %}

{% block content %}
    <h1>Оформити замовлення</h1>

    <form method="post">
        {% csrf_token %}
        <p>Сортування:</p>
        <form>
            <label class="Sorting">
                <input type="checkbox"> Сковорідки
            </label>
            <label class="Sorting">
                <input type="checkbox"> Мангали
            </label>
            <label class="Sorting">
                <input type="checkbox"> Казани
            </label>
            <label class="Sorting">
                <input type="checkbox"> Наливатори
            </label>
            <p>Розміри:</p>
            <label class="Sorting">
                <input type="checkbox"> 30 см
            </label>
            <label class="Sorting">
                <input type="checkbox"> 40 см
            </label>
            <label class="Sorting">
                <input type="checkbox"> 50 см
            </label>
            <label class="Sorting">
                <input type="checkbox"> 60 см
            </label>

        </form>
        <label for="product">Товари:</label><br>
        <input list="product-list" name="product" multiple>
        <datalist id="product-list">
            {% for product in products %}
                <option value="{{ product.name }}">{{ product.name }} {{ product.size }} — {{ product.price }} грн</option>
            {% endfor %}
        </datalist>

        <br><br>
        {{ form.as_p }}
        <button type="submit">Оформити</button>
    </form>
{% endblock %}